# The domain you want to use
:2016 {
	log {
		output stdout
		level DEBUG
	}
	route /api/* {
		reverse_proxy localhost:8080
	}
	route /images/* {
		file_server
	}

	root * dist

	route /* {
		# always redirect non existing files to index.html for the SPA
		try_files {path} /index.html
		file_server /*
	}
}
